@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Recursive:wght@600&display=swap');
body , html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif !important;
  overflow-x: hidden !important;
  background-color: #bbdfeb;
    background-image: url('./images/pizza.jpg') !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  color:black !important;
}

.navbar-brand{
  color:black !important;
  font-size:xx-large;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

h1{
  font-size: 20px !important;
}
.flex-container{
  display: flex !important;
}
.btn{
  background-color: rgb(223, 54, 54) !important;
    color: white !important;
  box-shadow: none !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}

.fa-plus{
  color:green ;
  margin: 5px;
}
.fa-minus{
  color:red !important;
  margin: 5px;
}
.fa-trash{
  color:red;
}
input{
  margin-top: 10px !important;
  box-shadow: none !important;
}
.adminfunctions{
  padding: 10px;
  background-color:rgb(1, 1, 77);
}

.adminfunctions li{
  list-style-type: none !important; 
  display: inline !important;
  color: white !important;
}
.adminfunctions li a{
   color: white !important;
   padding: 20px;
}
td , th , tr{
  text-align:left;
}
.login{
  background-image: url('./images//bg1.svg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:90vh;
}
.register{
  background-image: url('./images//bg2.svg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:90vh;
}